<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--SEO-->
  <meta name="description" content="Van de Granja busca brindar a la comunidad productos con fuentes e insumos locales, de manera sustentable, que crece usando prácticas y principios que ayudan a revertir el cambio climático y regeneran la tierra, la salud y apoyan el comercio justo en la zona implementando un modelo de distribucion de productos">
  <meta name= "keywords" content="Salud, Natural, Granja">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <!-- CSS Files -->
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="../assets/css/responsive.css"> 
  <link rel="stylesheet" href="../assets/css/animacion.css">
  <title>Quienes Somos Van De Granja</title>
</head>
<body class="container-fluid no-gutters">
  <!--Barra de navegacion con Bootstrap-->
  <header class="row no-gutters">
    <nav class="col-12"> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="vandegranja.html">
          <img class="logo" src="../img/logo.png" alt="Logo de Van de granja"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tienda.html">Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="carrito.html">Carrito</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="mi_cuenta.html">Mi cuenta</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="contactos.html">Contactos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="vandegranja.html">Nosotros</a>
            </li>
          </ul>
          <div class= "col-md-4 col-lg-3 navbar-social wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <p>
              <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a> 
              <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
              <a href="https://google.com"><i class="fab fa-google-plus-g"></i></a> 
              <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a> 
              <a href="https://ar.pinterest.com/"><i class="fab fa-pinterest"></i></a>
            </p>
          </div>
        </div>
      </nav>
    </nav>
  </header>
<!--Seccion 01 Quienes Somos-->
  <section class="col-12 no-gutters">
    <div class="boxTitulo">
      <h2 class="boxTitulo" data-aos="zoom-in-up">Quienes Somos <spam class="boxTitulo__estilo01"> Van de Granja </spam></h2>
    </div>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../img/cultivando.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../img/cultivando.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Hola Mundo</h5>
            <p>...</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="boxTitulo">
      <h2 class="boxTitulo" data-aos="zoom-in-up">Quienes<spam class="boxTitulo__estilo01"> lo hacen posible </spam></h2>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="car-van card-img-top" src="../img/avatarabuelo.png" alt="avatar abuelo trabajando">
        <div class="card-body">
          <h5 class="card-title">Juan</h5>
          <p class="card-text">Juan Granjero de toda la vida llevo adelante el negocio familiar desde muy temprana edad, conoce todos los secretos para cultivar una granja</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Granjero</small>
        </div>
      </div>
      <div class="card">
        <img class="car-van card-img-top" src="../img/avatarnino.png" alt="avatar nino trabajando">
        <div class="card-body">
          <h5 class="card-title">Pedro</h5>
          <p class="card-text">Nieto de Juan y Lucia, colabora con la granja luego de hacer sus deberes del colegio sueña con ser ingeniero agronomo</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Granjero y estudiante</small>
        </div>
      </div>
      <div class="card">
        <img class="car-van-abuela card-img-top" src="../img/avatarabuela.png" alt="avatar abuela trabajando">
        <div class="card-body">
          <h5 class="card-title">Lucia</h5>
          <p class="card-text">Lucia audaz cosechadora y amante de los animales, posee una habilidad natural en el arte de cultivar alimentos</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Granjera y Apicultora</small>
        </div>
      </div>
    </div>
    <div class="col-12 text-center cardQuienesSomos">
      <div class="cardQuienesSomos__body">
        <p class="card-text cardQuienesSomos__body__title">Un breve paseo por nuestra historia </p>
      </div>
      <div class="col-12 no-gutters">
        <div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xTL99PUmcno" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
          <p>Granjas Regenerativas busca brindar a la comunidad productos con fuentes e insumos locales, de manera sustentable, que crece usando prácticas y principios que ayudan a revertir el cambio climático y regeneran la tierra, la salud y apoyan el comercio justo en la zona.</p>
        </div>
      </div>
    </div>
  </section>
<!--Pie de de Pagina-->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-4 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <a href="../index.html"><img class="logo-footer" src="../img/logo.png" alt="logo-footer"> </a>
            <p>
              Van de Granja creado por un grupo de amigos soñadores y apasionados por la naturaleza, que intenta traer abundancia y salud a la tierra, a la comunidad y a quienes circulan por ella.
            </p>
            <p class="logo-footer-ref"> <a href="vandegranja.html">Nuestro Equipo</a></p>
          </div>
          <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h3>Contactos</h3>
                <p><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, En Las Nubes, Buenos Aires</p>
                <p><i class="fas fa-phone"></i> Phone: +54 1166 7789 9987 </p>
                <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">vandegranja@vandegranja.com</a></p>
                <p><i class="fab fa-skype"></i> Skype: Van_de_Granja</p>
          </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                  <h3>Seguinos en </h3>
                  <p>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a> 
                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                    <a href="https://google.com"><i class="fab fa-google-plus-g"></i></a> 
                    <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a> 
                    <a href="https://ar.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                  </p>
                </div>
          </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-5 footer-copyright">
            <p>Copyright &copy; VandeGranja, todos los derechos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </footer> 
<!-- Template Main JS File -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>