/*Variables*/
$colorPrimario:#276955;
$colorSecundario:#41A58D;
$fontPrimaria: 'Open Sans', sans-serif;



/*--------------------------------------------------------------
# Carrucel Pagina principal
--------------------------------------------------------------*/
.slide1{
    background-image:url(../../img/uvas.jpg);
    background-position: center;
    background-size: cover;
}


.slide2{
    background-image: url(../../img/zanahoria2.jpg);
    background-position: center;
    background-size: cover;
}


.slide3{
    background-image: url(../../img/tomates.jpg);
    background-position: center;
    background-size: cover;

}
.carousel-item{
        height: 200px;
    }
    @media(min-width: 992px){
        .carousel-item{
            height: 600px; 
        }
    }
.card-link{
    text-align: center;
    text-transform: none;
    font-style: italic;
    
}

/*--------------------------------------------------------------
# Box Titulos
--------------------------------------------------------------*/

.boxTitulo{
    
    height: 40px;
    padding-top: 4px;
    width: 100%;
    text-align: center;
    color:#ccc;
    font-style: bold;
    font-size: 14px;  
    background: $colorPrimario;
    .boxTitulo__estilo01{
      color:white;
      font-family:$fontPrimaria;
      font-style: italic;
      font-size: 16px;
      letter-spacing: 3px;
   }
}
.grid-container {
    display: grid;
    grid-gap: 50px 100px;
  }
/*--------------------------------------------------------------
# Cards Nuestros Productos
--------------------------------------------------------------*/

  .card-group{
      margin: 0px;
      .card{
        border-style: none;
        .card-body02  {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        .card-body{
            .card-link a{
                color: $colorSecundario;
                margin: auto;
                background: #fff;
                padding: 20px;
                overflow: hidden;
                box-shadow: 0 0 25px #ccc;
                text-align: center;
                display: block;
                text-decoration: none;
                font-weight: bold;
            }
            .card-link a:hover
                {color:red;
                 transform:scale(1.1)
            
                }

        }
      }
  }

/*--------------------------------------------------------------
# Carrito
--------------------------------------------------------------*/
$fontPrimaria: 'Open Sans', sans-serif;
$colorPrimario:#276955;
$colorSecundario:#41A58D;


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}


body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: $fontPrimaria;
 
}
 img {
   max-width:100%;
 }
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}


.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
  
}


// CART HEADER
.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
 
  h1 {
   font-family: $fontPrimaria;
   font-size: 2em;
   float: left;
  }
  a.continue {
    &:link , &:visited {
      text-decoration: none;
      font-family: $fontPrimaria;
      letter-spacing: -.015em;
      font-size: .75em;
      padding: 1em;
      color: #fff;
      background:$colorPrimario;
      font-weight: bold;
      border-radius: 50px;
    float: right;
      text-align: right;
       @include transition(all, .25s, linear);
    }
    &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
       @include transition(all, .15s, linear);
      
    }
    &:hover , &:focus, &:active {
      background: $colorSecundario;
      
      &:after {
        right: -10px;
      }
    }
  }
}

// TABLE HEADING 

.tableHead {
  display: table;
  width: 100%;
  font-family: $fontPrimaria;
  font-size: .75em;
  li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
    &.prodHeader {
      text-align: left;
    }
  }
}

// CART Items

.cart {
  padding: 1em 0 ;
 
  .items {
    display: block;
    width: 100%;
 
    padding: 1.5em;
   
    border-bottom: 1px solid #fafafa;
    &.even {
      background: #fafafa;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;
 
      vertical-align: middle;
      
      
      .itemNumber {
  font-size: .75em;
        color: #777;
        margin-bottom: .5em;
}
      
      h3 {
   
        font-size: 1em;
      font-family: $fontPrimaria;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .025em;
        
         
      }
      p {
        display: inline-block;
        font-size: .85em;
        
        color: #777777;
        font-family: $fontPrimaria;
            .quantity {
        font-weight: bold;
              color: #333;
      }
        
        &.stockStatus {
          color: $colorPrimario;
          font-weight: bold;
          padding: .5em 0 0 1em;
          text-transform: uppercase;
          &.out {
            color: red;
          }
        }
        
      }
      .itemImg {
        width: 4em;
       
        float: left;
      }
      &.qtyWrap , &.prodTotal {
        text-align: center;
    p {
      font-weight: bold;
      font-size: 1.25em;
    }
       
      }
      
    input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
          padding: .25em;
      margin: 1em .5em 0 0;
        
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
       
 
    }
  }
  
}   
 
 .special {
   display: block;
   font-family: $fontPrimaria;
  .specialContent {
   padding: 1em 1em 0;
    display: block; 
   margin-top:.5em;
   border-top: 1px solid #dadada;
   &:before {
     content: "\21b3";
     font-size: 1.5em;
      margin-right: 1em;
     color: #6f6f6f;
     font-family: helvetica, arial, sans-serif;
   }}
 
 }

a.remove {
  text-decoration: none;
  font-family: $fontPrimaria;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  @include transition(all, .25s, linear);
  &:hover {
    background: #f30;
  }
}

.promoCode {
  border:2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  label {
    display: block;
    width: 100%;
 font-style: italic;
    font-size: 1.15em;
 
    margin-bottom: .5em;
    letter-spacing: -.025em;
    
  }
  input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
    &:active, &:focus {
      outline: 0;
     
    }
  }
  a.btn {
    float: left;
    width: 15%;
    padding: .75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid $colorPrimario;
    &:hover {
       border: 1px solid $colorSecundario;
       background: $colorSecundario;
    }
  }
}

.btn {
     &:link , &:visited {
      text-decoration: none;
      font-family: $fontPrimaria;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em 3em;
      color: #fff;
      background: $colorPrimario;
      font-weight: bold;
      border-radius: 50px;
    float: right;
      text-align: right;
       @include transition(all, .25s, linear);
    }
      &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
       @include transition(all, .15s, linear);
      
    }
    &:hover , &:focus, &:active {
      background:$colorSecundario;
        &:after {
        right: -10px;
      }
    }
  
  .promoCode & {
    font-size: .85em;
    
  }
}

/* TOTAL AND CHECKOUT  */
.subtotal {

float: right;
 width: 35%;
  .totalRow {
    padding: .5em;
    list-style-type: none;
    
    text-align: right;
  
    &.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
     
    }
    .label {
       font-family: $fontPrimaria;
      font-size: .85em;
      text-transform: uppercase;
      color: #777;
    }
    .value {
 
      letter-spacing: -.025em;
      width: 35%;
    }
  }
}

@media only screen and (max-width:39.375em){

.wrap {
  width: 98%;
  padding: 2% 0;
}
.projTitle{
  font-size: 1.5em;
  padding: 10% 5%;
}
.heading {
  padding: 1em;
  font-size: 90%;
}
.cart {
  .items {

  .cartSection {
    width: 90%;
      display: block;float: left;
     &.qtyWrap {
       width: 10%;
      text-align: center;
       padding: .5em 0;
       float: right;
       &:before {
         content: "QTY";
         display: block;
         font-family: $fontPrimaria;
         padding: .25em;
         font-size: .75em;
       }
     }
     &.prodTotal , &.removeWrap { 
       display: none;
     }
    .itemImg {
      width: 25%;
    }
  }
  }}
.promoCode , .subtotal{
  width: 100%;
}

  a.btn.continue {
width: 100%;
text-align: center;
}
}
 
.car-van{
  width: 100px !important;
}
.car-van-abuela
{
  width: 150px;
}