/*Variables*/
$colorPrimario:#276955;
$colorSecundario:#41A58D;
$fontPrimaria: 'Open Sans', sans-serif;

.no-gutters {
    padding-left: 0!important;
    padding-right: 0     !important;
}

a:link, a:visited, a:active {
    text-decoration:none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}

/*--------------------------------------------------------------
# Barra de navegacion
--------------------------------------------------------------*/

nav{  
    .logo{
        width: 100px;
        ul{
            li{
                a{
                
                    font-size: 16px;
                    text-transform: uppercase;
                    color:$colorPrimario;

                }
            }
        }
    }  
      
}

nav{
    ul{
        li{
          a:hover{
            background:$colorSecundario !important;
            color: white !important;
            border-radius: 10px;
            }
        }
    }
}

/*--------------------------------------------------------------
# Pie de de Pagina
--------------------------------------------------------------*/

.footer-top{
    .footer-contact 
        .footer-social h3{
        color: white;
        font-style: italic;}
    h3{ color:white;
        font-style: italic; }
    color:#ccc;
    padding-top: 2px;
    background: $colorSecundario;
    .footer-about{
        .logo-footer{
            width: 100px;
        }
        p{
            font-style: italic;
            
        }
        .logo-footer-ref a{ 
            font-style: normal;
        }
    }
    a{
        color: white;
    }
}
.footer-bottom{
    background: $colorPrimario;
    .footer-copyright
    {
        color: #d1d4d6;
    }
}



/*--------------------------------------------------------------
# Quienes Somos
--------------------------------------------------------------*/
.cardQuienesSomos{
    .cardQuienesSomos__body{
        background-color: azure;
        .cardQuienesSomos__body__title{
            color: $colorPrimario;
            font-family: $fontPrimaria;
            font-style: italic;                 
        }
        .cardQuienesSomos__body__title--txt{
            color:$colorSecundario;
            font-family: $fontPrimaria;
            font-style: italic;

        }
    }
}

/*--------------------------------------------------------------
# Tienda
--------------------------------------------------------------*/

.productos{
    .productos__frutas{
        .productos__frutas__header h4{
            color:$colorPrimario;
            
        }
    }
    .productos__verduras__header h4{
        color:$colorPrimario
    }
    .productos__granja__header h4{
        color:$colorPrimario;
    }
}

.nav-link{
    color:$colorPrimario
  }
  
  .btn-primary{
    background-color: $colorSecundario !important;
    border-color:$colorSecundario !important;
  }
  