
/*Esto fue remplazado por bootstrap*/ 



/*responsive NAV*/
@media (max-width: 768px) {
  ul li 
  {
    width: 100%;
    margin-top: 10px;
  }
}

/*Responsive index*/

/*Estilo caja Imagenes*/
@media (max-width:768px){
.cardsProductosDestacados,
.cardsProductos,
.cardsComoFuncion
{  
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  
}
}
@media (max-width:768px){
.cardComoFuncion img,
.cardProductosDestacados img,
.cardProductos img

{
  width: 100%;
  margin: 0 auto;
}

}
@media (max-width:768px){
  .cardProductos,
  .cardProductosDestacados,
  .cardComoFuncion
  {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;  
  }
}

@media(max-width:768px){

  .cardProductos .text,
  .cardComoFuncion .txt,
  .cardProductosDestacados .text
  {
    padding:0;
    font-size: 16px;
  }
}
@media(max-width:768px){
  .tituloProductosDestacados,
  .tituloProductos,
  .tituloComoFunciona
    {
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
    }
}

@media(max-width:768px){

  .tituloProductosDestacados, 
  .tituloProductosDestacadosEstilo, 
  .tituloProductos, 
  .tituloProductosEstilo,
  .tituloComoFunciona,
  .tituloComoFuncionaEstilo
     {
       font-size: 16px;
       word-spacing: normal;
       padding: 0;
     }
}

/*responsive tablet*/
@media (max-width: 1024px) {
  ul li {
    width: 100%;
    margin-top: 10px;
    text-align: left;    
  }
}

@media(max-width:1024px){

  .tituloProductosDestacados, 
  .tituloProductosDestacadosEstilo, 
  .tituloProductos, 
  .tituloProductosEstilo,
  .tituloComoFunciona,
  .tituloComoFuncionaEstilo
     {
       font-size: 16px;
       word-spacing: normal;
       padding: 0;
     }
}

@media(max-width:1024px){
  .tituloProductosDestacados,
  .tituloProductos,
  .tituloComoFunciona
    {
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
    }
}
@media(max-width:1024px){

  .cardProductos .text,
  .cardComoFuncion .txt,
  .cardProductosDestacados .text
  {
    padding:0;
    font-size: 16px;
  }
}

@media (max-width:1024px){
  .cardProductos,
  .cardProductosDestacados,
  .cardComoFuncionaMaps
  {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;  
  }
}